apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: default  # Ensure the namespace is specified here
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: nodejs-app
        image: ahmed7493/nodejs-app:1.1
        ports:
        - containerPort: 3000
